/* body {
  background-color: black;
} */

* {
  background-image: linear-gradient(to left, rgb(49, 38, 38), #000000);
}
h1 {
  font-size: 100px;
  color: rgb(252, 252, 252);
  display: flex;
  justify-content: center;
  font-variant: small-caps;
}

h3 {
  color: rgb(221, 215, 205);
  display: flex;
  justify-content: center;
  font-variant: small-caps;
}

footer {
  font-size: 35px;
  color: cornsilk;
  display: flex;
  justify-content: center;
  font-variant: small-caps;
}
